<mat-card>
    <div *ngIf="!cambiaAccion">
      <mat-card-title> Trading automático </mat-card-title>
    <mat-card-subtitle><h4>Encuentra un sistema rentable para tu estilo de trading</h4></mat-card-subtitle>
    <form [formGroup]="tradingForm" (submit)="onCreate(tradingForm)">
      <mat-card-content>

            <mat-form-field appearance="outline">
              <mat-label>Capital</mat-label>
              <input matInput placeholder="$2,000" formControlName='capital' type="number">
              <mat-icon matSuffix>attach_money</mat-icon>
              <mat-hint>mayor a $300</mat-hint>

            </mat-form-field>

          <p>
              <mat-form-field appearance="outline">
                <mat-label>Rendimiento</mat-label>
                <input matInput type="number" placeholder="+1.5%" formControlName='rendimiento' type="number">
                <mat-icon matSuffix>multiline_chart</mat-icon>

              </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline">
                  <mat-label>Tiempo de operación</mat-label>
                  <input matInput type="number" placeholder="15 días" formControlName='periodo' type="number">
                  <mat-icon matSuffix>alarm</mat-icon>
                  <mat-hint>Mayor a 1 día</mat-hint>

                </mat-form-field>
              </p>
                <button  mat-button style="background-color: rgb(34, 34, 37); color: white;" type="submit">Iniciar</button>

    </mat-card-content>
    </form>
    </div>


    <div *ngIf="cambiaAccion">
      <mat-card-title> Ejecutando Trading automático </mat-card-title>
    <mat-card-subtitle><h4>El primer día, algunos campos estarán incompletos</h4></mat-card-subtitle>
    <mat-card-content>
        <p>Capital:  {{statusCapital}}</p>
        <p>Capital inicial:  {{statusCapitalInicial}}</p>
        <p>Rendimiento:  {{statusRendimiento}}</p>
        <p>Tiempo de operación:  {{statusPeriodo}}</p>
        <p>Empresa:  {{statusEmpresa}}</p>
        <p>Indicador:  {{statusIndicador}} </p>
        <button  mat-button style="background-color: rgb(34, 34, 37); color: white;" (click)='changeAction()'> Eliminar </button>

    </mat-card-content>
    </div>

</mat-card>
