mat-card{
  position: absolute;

  top: 12%;
  left: 40%;
  right: 20%;
  text-align: center;
  padding-bottom: 7%;


}

mat-form-field{
  width: 90%;
}

@media screen and (max-width: 780px){
  mat-form-field{
    width: 90%;
  }
  mat-card{
    top: 12%;
    left: 20vw;
    width: 75vw;
    text-align: center;
    padding-bottom: 7%;


  }
}
