<body>
    <app-inicio-sesion></app-inicio-sesion>
    <mat-card>

      <mat-card-title>
        Backtrading
      </mat-card-title>
      <mat-card-content align="justify" *ngIf="Esp">
        Esta es una aplicación web del tipo SPA(Single Page Aplication) desarrollada por Inti Martinez
        Flores y Kevin Joel López Carrillo. <br><br>

        El trading se ha convertido en un <b>tópico</b> de la sociedad moderna, ganar dinero apostando
        resulta atractivo. Pocas personas invierten su dinero puesto que desconocen la verdad <b>subyacente</b> acerca del
        trading; El trading es una actividad de mayor riesgo a comparación de las inversiones convencionales puesto que para invertir se necesita
        un análisis <b>holístico</b> del mercado y esto da seguridad en las operaciones, sin embarogo si utiliza un buen indicador técnico en su trading
        usted obtendrá mayores beneficios. Warren Buffett es el <b>paradigma</b> de un inversor exitoso.<br><br>

        En esta aplicación usted podrá hacer backtesting de manera <b>pragmática</b> a sus sistemas de trading sin necesidad de aburridos excel,
        lo único que tiene que hacer es crearse una cuenta y comenzar a estudiar su trading como todo un <b>profesional</b> <br><br>

        Cuando tenga una cuenta podrá usar cualquiera de los siguientes 3 funciones que trabajarán en <b>sinergia</b> para que perfecciones su trading:<br>

        1) Crear sistemas de trading.<br>
        2) Ejecutar Backtesting a sus sistemas de trading.<br>
        3) Trading Automático.
        <br><br>

        ¿Trading Automático?
        Esta funcionalidad permite crear un sistema de trading ante cualquier <b>conyuntura</b> del S&P100. <br><br>

        S&P100 es el <b>contexto</b> de empresas con las que trabaja esta aplicación, creamos sistemas en base a los precios de estas,si está
        interesado en una empresa que no pertenezca a este índice, puede esperar a la nueva actualización.

        Si deseas sumarte a este proyecto manda tu mensaje al siguiente correo para que nuestro <b>personal</b>
        de recursos humanos te contacte. <br><br>

        Correo: Backtrading_RH_@gmail.com <br> <br>
      <button mat-button class="traducir" (click)="lenguageChange()"> Traducir </button>

      </mat-card-content>
      <mat-card-content align="justify" *ngIf="!Esp">
          This is a web application of the SPA type (Single Page Aplication) developed by Inti Martinez Flores and Kevin Joel López Carrillo. <br> <br>
          Trading has become a <b> topic </b> of modern society, making money by betting It is attractive. Few people invest their money since they don't know the underlying <b> truth </b> about
          trading; Trading is a higher risk activity compared to conventional investments since investing requires
          a holistic <b> analysis </b> of the market and this gives security in the operations, however if you use a good technical indicator in your trading
          You will get greater benefits. Warren Buffett is the <b> paradigm </b> of a successful investor. <br> <br>

          In this application you can backtesting <b> pragmatically </b> to your trading systems without the need for boring excel,
          all you have to do is create an account and start studying your trading as a professional <b> </b> <br> <br>

          When you have an account you can use any of the following 3 functions that will work in <b> synergy </b> to perfect your trading: <br>

                1) Create trading systems. <br>
                2) Execute Backtesting to your trading systems. <br>
                3) Automatic Trading.
                <br> <br>
          Automatic Trading?
          This functionality allows to create a trading system before any <b> conjuncture </b> of the S&P100. <br> <br>

          S&P100 is the <b> context </b> of companies with which this application works, we create systems based on the prices of these, if it is
          interested in a company that does not belong to this index, you can wait for the new update.

          If you wish to join this project send your message to the following email so that our <b> personal </b>
          Human resources contact you. <br> <br>
          Email: Backtrading_RH_@gmail.com <br><br>
          <button mat-button class="traducir" (click)="lenguageChange()"> Traducir </button>


        </mat-card-content>



      <button mat-button class="traducir" (click)="show()"> Mostrar diagrama </button>
      <img id="logo" src="../../../../assets/diagrama.JPG" alt="LogoBT" *ngIf="diagrama">


    </mat-card>
</body>
