mat-accordion{
  position: absolute;

  top: 12%;
  left: 21%;
  right: 1%;

  padding-bottom: 7%;
}
article{

}
mat-panel-description{
  position: absolute;
  left: 40%;
}

mat-panel-expansion{
  position: absolute;
}
mat-expansion-panel-header{
  height: auto;
  padding-bottom: 10px;
  background-color: rgb(34, 34, 37);
}

mat-panel-title{
  color: orange;
}

mat-panel-description{
  color: deepskyblue;
}

#obv{
  font-size: 66%;
}

mat-expansion-panel{
  background-color: rgb(51, 51, 51);
  color: white;
}

h2{
  text-align: center;
}

@media screen and (max-width: 959px){
  
  mat-card-content{
    font-size: 1.7vw;
  }

  h2{
    font-size: 1.7vw;
  }

  mat-panel-title{
    font-size: 1.7vw;
  }

  mat-panel-description{
    font-size: 1.7vw;
  }
  
  #obv{
    font-size: 1.4vw;
  }

  mat-expansion-panel{
    font-size: 1.7vw;
  }

}

@media screen and (max-width: 660px){
  
  mat-card-content{
    font-size: 2.1vw;
  }

  h2{
    font-size: 2.1vw;
  }

  mat-panel-title{
    font-size: 1.9vw;
  }

  mat-panel-description{
    font-size: 1.9vw;
  }

  #obv{
    font-size: 1.7vw;
  }

  mat-expansion-panel{
    font-size: 1.9vw;
  }
  
}

@media screen and (max-width: 450px){
  
  mat-card-content{
    font-size: 2.3vw;
  }

  h2{
    font-size: 2.3vw;
  }

  mat-panel-title{
    font-size: 1.8vw;
  }

  mat-panel-description{
    font-size: 1.8vw;
  }

  #obv{
    font-size: 1.6vw;
  }

  mat-expansion-panel{
    font-size: 2vw;
  }
  
}

@media screen and (max-width: 375px){
  mat-card-content{
    font-size: 2.7vw;
  }

  h2{
    font-size: 2.7vw;
  }

}
