<mat-accordion multi="false">
  <mat-card-title>
    <p>Indicadores técnicos<br></p>
  </mat-card-title>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
          Adaptive Moving Average
      </mat-panel-title>
      <mat-panel-description>
        AMA(i) = AMA(i-1) + (SSC(i)^2) * (Price(i) - AMA(i-1))
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card-content>
        El indicador técnico Media Móvil Adaptativa (Adaptive Moving Average, AMA) se utiliza para construir una media móvil con una sensibilidad débil a los ruidos en las series de los precios, y se caracteriza por la tardanza mínima en detectar una tendencia. Ha sido desarrollado por Perry Kaufman y lo ha descrito en su libro "Smarter Trading".

        Una de las desventajas que tienen los algoritmos para las series de precios consiste en que algunos saltos accidentales de los precios pueden provocar las señales falsas sobre la aparición de la tendencia. Por otro lado, el suavizado (smoothing) lleva a un retraso inevitable de la señal sobre la parada o el giro de la tendencia. Este indicador ha sido diseñado para superar estas dos desventajas.
        <br>
        <img src="https://www.metatrader5.com/i/help/terminal/en/ama.png" alt="MA">

        <h2>Fórmula y valores</h2>
        <article>
            Para definir el estado actual del mercado, Kaufman introdujo el concepto del coeficiente de eficacia (Efficiency Ratio, ER) que se mide según la formula:

            ER(i) = Signal(i)/Noise(i)

            aquí:

            ER(i) – valor actual del coeficiente de eficacia
            Signal(i) = ABS(Price(i) - Price(i - N)) – valor actual de la señal, valor absoluto de la diferencia entre el precio actual y el precio de N períodos atrás;
            Noise(i) = Sum(ABS(Price(i) - Price(i-1)),N) – valor actual del ruido, suma de valores absolutos de la diferencia entre el precio del período actual y el precio del período anterior para N períodos.

            En caso de una tendencia fuerte, el coeficiente de eficacia (ER) va a tender al 1; en caso de no haber un movimiento con una dirección determinada, será un poco más del 0. El valor del ER obtenido se utiliza en la formula del suavizado exponencial:

            EMA(i) = Price(i) * SC + EMA(i-1) * (1 - SC)

            aquí:

            SC = 2/(n+1) – constante de suavizado de EMA (smoothing constant), n – período de la móvil exponencial;
            EMA(i–1) – valor anterior EMA.

            Es necesario que el coeficiente de suavizado para el mercado rápido sea como para la EMA con el período 2 (fast SC = 2/(2+1) = 0.6667), y para el período de falta de tendencia, el período de la EMA sea igual a 30 (slow SC = 2/(30+1) = 0.06452). De esta manera, se introduce una nueva constante variable de suavizado (scaled smoothing constant) SSC:

            SSC(i) = (ER(i) * ( fast SC - slow SC) + slow SC

            o

            SSC(i) = ER(i) * 0.60215 + 0.06425

            Para que la constante variable de suavizado que se ha obtenido tenga más efecto en el período de promedio, Kaufman recomienda elevarla al cuadrado.

            La fórmula final de cálculo:

            AMA(i) = Price(i) * (SSC(i)^2) + AMA(i-1)*(1-SSC(i)^2)

            o (tras la transformación):

            AMA(i) = AMA(i-1) + (SSC(i)^2) * (Price(i) - AMA(i-1))

            aquí:

            AMA(i) – valor actual de AMA;
            AMA(i–1) – valor anterior de AMA;
            SSC(i)  – valor actual de la constante de suavizado variable.</article>
      </mat-card-content>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Envelopes
      </mat-panel-title>
      <mat-panel-description>
          UPPER BAND = SMA (CLOSE, N) * [1 + K / 1000] <br>
          LOWER BAND = SMA (CLOSE, N) * [1 - K / 1000]
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card-content>
        El indicador técnico "Líneas Operacionales" (Sobres, Envelopes) se forma por dos medias móviles, una de las cuales está desplazada hacia arriba, la otra – hacia abajo. La selección del óptimo valor relativo de la desviación de los márgenes de la banda se determina por la volatilidad del mercado: cuanto más alta sea, mayor será la desviación.

        Los Envelopes determinan los márgenes superiores e inferiores para un rango normal de fluctuaciones de los precios de títulos. La señal de venta aparece cuando el precio alcance el margen superior de la banda, y la señal de compra sale cuando llegue al margen inferior.

        El uso del indicador técnico Envelopes se basa en la lógica natural del comportamiento de mercado: cuando los precios alcanzan los valores extremos debido a una presión por parte de unos compradores y vendedores sumamente activos (es decir, llegan al margen superior o inferior de la banda), muy a menudo se estabilizan volviendo a unos niveles más realistas. El mismo principio se utiliza para la interpretación de las Bandas de Bollinger (Bollinger Bands®, BB).
      <img src="https://www.metatrader5.com/i/help/terminal/en/envelopes.png" alt="Envelopes">

        <h2>Fórmula y valores</h2>
        <article>
            UPPER BAND = SMA (CLOSE, N) * [1 + K / 1000]

            LOWER BAND = SMA (CLOSE, N) * [1 - K / 1000]

            Aquí:

            UPPER BAND – línea superior del indicador;
            LOWER BAND – línea inferior del indicador;
            SMA – media móvil simple;
            CLOSE – precio de cierre;
            N – período de promediación;
            K / 1000 – valor de desviación del promedio (en décimas partes del por ciento).
        </article>
      </mat-card-content>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Moving Average
      </mat-panel-title>
      <mat-panel-description>
          AMA(i) = AMA(i-1) + (SSC(i)^2) * (Price(i) - AMA(i-1))
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card-content>
        El indicador técnico "Media Móvil" (Moving Average, MA) muestra el valor medio del precio de un instrumento durante un determinado período de tiempo. Cuando se calcula Moving Average, se promedia matemáticamente el precio del instrumento durante un período de tiempo dado. En función del cambio del precio, su valor medio va aumentando o disminuyendo.

        Hay varios tipos de medias móviles: simple (también se llama aritmética), exponencial, suavizada y ponderada. La Moving Average puede ser calculada para cualquier conjunto secuencial de datos, incluyendo los precios de apertura y cierre, mínimos y máximos, volumen de trading o valores de otros indicadores. A menudo se utilizan las medias móviles de las mismas medias móviles.

        Lo único en que se diferencian sustancialmente las Medias Móviles de diferentes tipos son diferentes coeficientes ponderales que se asignan a los últimos datos. En caso de la Media Móvil Simple (Simple Moving Average), todos los precios del período considerado tienen el mismo peso. La Media Móvil Exponencial y la Pondera (Exponential Moving Average y Linear Weighted Moving Average) asignan más valor a los últimos precios.

        El modo más común de interpretar la media móvil del precio consiste en la comparación de su dinámica con la dinámica del mismo precio. Cuando el precio del instrumento financiero sube por encima del valor de la Media Móvil, aparece la señal de compra, cuando baja de la línea del indicador – salta la señal de venta.

        Este sistema de trading utilizando la Moving Average no está diseñado en absoluto para garantizar la entrada al mercado estrictamente en su punto más bajo, y la salida de él – justamente en su pico. Permite actuar según la tendencia actual: comprar después de que los precios hayan tocado fondo, y vender después de que se haya formado el pico.

        También se puede aplicarlas a los indicadores. La interpretación de las medias móviles de los indicadores es igual que la interpretación de las medias móviles de los precios: si el indicador sube por encima de su Moving Average, significa que el movimiento alcista del indicador continuará, pero si el indicador va por debajo de su Moving Average, significa que la continuación de su movimiento bajista.

        Tipos de medias móviles:

        Simple Moving Average (SMA) – Media Móvil Simple
        Exponential Moving Average (EMA) – Media Móvil Exponencial
        Smoothed Moving Average (SMMA) – Media Móvil Suavizada
        Linear Weighted Moving Average (LWMA) – Media Móvil Ponderada Lineal

        <img src="https://www.metatrader5.com/i/help/terminal/en/ma.png" alt="Moving Average">

        <h2>Fórmula y valores</h2>
        <article>
            La media móvil simple o aritmética se calcula mediante la suma de los precios de cierre de un instrumento durante un determinado número de períodos simples (por ejemplo, durante 12 horas), dividiendo a continuación la suma por el número de estos períodos.

            SMA = SUM (CLOSE (i), N) / N

            aquí:

            SUM – suma;
            CLOSE (i) – precio de cierre del período actual;
            N – número de períodos calculados.

            Media Móvil Exponencial (Exponential Moving Average, EMA)
            La media móvil suavizada exponencialmente se calcula mediante la adición de una cierta parte del precio de cierre actual al valor anterior de la media móvil. A la hora de usar las medias móviles exponenciales, el mayor valor tienen los últimos precios de cierre. La media móvil exponencial de Р% será la siguiente:

            EMA = (CLOSE (i) * P) + (EMA (i - 1) * (1 - P))

            aquí:

            CLOSE (i) – precio de cierre del período actual;
            EMA (i - 1) – valor de la media móvil para el período anterior;
            P – parte de uso del valor de precios.

            Media Móvil Suavizada (Smoothed Moving Average, SMMA)
            El primer valor de la media móvil suavizada se calcula como la media móvil simple (SMA):

            SUM1 = SUM (CLOSE (i), N)

            SMMA1 = SUM1 / N

            Para obtener el segundo valor se utiliza la siguiente fórmula:

            SMMA (i) = (SMMA1*(N-1) + CLOSE (i)) / N

            Las medias móviles subsecuentes se calculan según el formula siguiente:

            PREVSUM = SMMA (i - 1) * N

            SMMA (i) = (PREVSUM - SMMA (i - 1) + CLOSE (i)) / N

            aquí:

            SUM – suma;
            SUM1 – suma de precios de cierre para períodos N; se calcula a partir de la barra anterior;
            PREVSUM – suma suavizada de la barra anterior;
            SMMA (i-1) – media móvil suavizada de la barra anterior;
            SMMA (i) – media móvil suavizada de la barra actual (salvo la primera barra);
            CLOSE (i) – precio de cierre actual;
            N – período de suavizado.

            Se puede simplificar esta fórmula mediante algunas transformaciones aritméticas:

            SMMA (i) = (SMMA (i - 1) * (N - 1) + CLOSE (i)) / N

            Media Móvil Ponderada Lineal (Linear Weighted Moving Average, LWMA)
            En una media móvil ponderada los últimos datos tienen más valor que los datos iniciales. La media móvil ponderada se calcula multiplicando cada uno de los precios de cierre en la serie a considerar por un coeficiente ponderal determinado:

            LWMA = SUM (CLOSE (i) * i, N) / SUM (i, N)

            aquí:

            SUM – suma;
            CLOSE(i) – precio de cierre actual;
            SUM (i, N) – suma de coeficientes ponderales;
            N – período de suavizado.
        </article>
      </mat-card-content>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Avergage true range
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card-content>
        El indicador técnico "El Rango Medio Verdadero" (Average True Range, ATR) es el indicador de la volatilidad del mercado. Fue descrito por Welles Wilder en su libro "Nuevos Conceptos en los Sistemas de Operaciones Técnicos", y desde entonces se utiliza como un componente de otros numerosos indicadores y sistemas de trading.

        El indicador Average True Range a menudo alcanza altos valores en las bases del mercado tras una fuerte caída de los precios provocada por el pánico de los vendedores. Los valores bajos del indicador son típicos para los períodos prolongados del movimiento horizontal que se observan en los picos del mercado y en las fases de consolidación. Este indicador se puede interpretar según las mismas reglas que se utilizan para los demás indicadores de volatilidad. El principio de pronóstico mediante el Average True Range es el siguiente: cuanto más alto sea el valor del indicador, más alta será la posibilidad del cambio de tendencia; y cuanto más bajo sea su valor, más débil será la dirección de la tendencia.
      <br>

        <img src="https://www.metatrader5.com/i/help/terminal/en/atr.png" alt="Average true range">

        <h2>Fórmula y valores</h2>
        <article>
            El Rango Verdadero (True Range) es el mayor de los tres siguientes valores:

            la deferencia entre el máximo y mínimo actuales;
            la diferencia entre el precio de cierre anterior y el máximo actual;
            la diferencia entre el precio de cierre anterior y el mínimo actual.
            El Indicador del Rango Medio Verdadero (Average True Range, ATR) es la media móvil de los valores del Rango Verdadero.
        </article>
      </mat-card-content>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Bears Power
      </mat-panel-title>
      <mat-panel-description>
          BEARS = LOW - EMA
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card-content>
        Cada sesión de trading es una lucha de los compradores ("toros"), los que intentan subir el precio, contra los vendedores ("osos") que lo empujan hacia abajo. En función de qué parte ha salido ganadora, la jornada se termina con un precio más alto o más bajo en comparación con la sesión anterior. Y los resultados intermedios, en primer lugar el precio máximo y el mínimo, permiten juzgar sobre cómo va desarrollando la lucha a lo largo de la jornada.

        La tarea de estimación del balance de fuerzas de los "osos" es muy importante, ya que el cambio de este balance es una de las primeras señales que permiten acertar el posible cambio de tendencia. Esta tarea se resuelve mediante el oscilador Bears Power desarrollado por Alexander Elder y descrito en su libro "Vivir del Trading". Durante el desarrollo de su oscilador, Elder se basaba en las siguientes premisas:

        la media móvil es un acuerdo sobre el precio entre los vendedores y los compradores durante un determinado período de tiempo,
        el precio mínimo refleja la fuerza máxima de los vendedores durante la jornada.
        Basándose en estas premisas, Elder desarrolló el Bear Power como la diferencia entre el precio mínimo y la media móvil exponencial de 13 períodos (LOW - ЕМА).

        Aplicación
        Es mejor utilizar este indicador junto con uno de los indicadores de tendencia (normalmente suele ser la media móvil):

        si el indicador de tendencia tiene la dirección alcista y el índice de la fuerza de los osos está bajo cero, pero va creciendo, es la señal de compra;
        es deseable que en este caso se forme la divergencia de las bases en el gráfico del indicador.
      <br>

        <img src="https://www.metatrader5.com/i/help/terminal/en/bears_power.png" alt="Bears Power">

        <h2>Fórmula y valores</h2>
        <article>
            La primera fase del cálculo de este indicador es el cálculo de la media móvil exponencial (como regla, se recomienda utilizar la de 13 períodos).

            BEARS = LOW - EMA

            aquí:

            BEARS – fuerza de los osos;
            LOW – precio mínimo de la barra actual;
            EMA – media móvil exponencial.

            Durante la tendencia bajista el LOW es más bajo que la EMA, por eso la fuerza de los osos es menos de cero, y el histograma se sitúa por debajo de la línea cero. Si durante la subida de precios el LOW se sitúa por encima de la EMA, la fuerza de los osos es más de cero y su histograma sube por encima de la línea cero.
        </article>
      </mat-card-content>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Bulls Power
      </mat-panel-title>
      <mat-panel-description>
          BULLS = HIGH - EMA
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card-content>
        Cada sesión de trading es una lucha de los compradores ("toros"), los que intentan subir el precio, contra los vendedores ("osos") que lo empujan hacia abajo. En función de qué parte ha salido ganadora, la jornada se termina con un precio más alto o más bajo en comparación con la sesión anterior. Y los resultados intermedios, en primer lugar el precio máximo y el mínimo, permiten juzgar sobre cómo va desarrollando la lucha a lo largo de la jornada.

        La tarea de estimación del balance de fuerzas de los "toros" es muy importante, ya que el cambio de este balance es una de las primeras señales que permiten acertar el posible cambio de tendencia. Esta tarea se resuelve mediante el oscilador Bulls Power desarrollado por Alexander Elder y descrito en su libro "Vivir del Trading". Durante el desarrollo de su oscilador, Elder se basaba en las siguientes premisas:

        la media móvil es un acuerdo sobre el precio entre los vendedores y los compradores durante un determinado período de tiempo,
        el precio máximo refleja la fuerza máxima de los compradores durante la jornada.
        Basándose en estas premisas, Elder desarrolló el Bulls Power como la diferencia entre el precio máximo y la media móvil exponencial de 13 períodos (HIGH - ЕМА).

        Aplicación
        Es mejor utilizar este indicador junto con uno de los indicadores de tendencia (normalmente suele ser la media móvil):

        si el indicador de tendencia tiene la dirección bajista y el índice de la fuerza de los toros está sobre cero, pero va decreciendo, es la señal de venta;
        es deseable que en este caso se forme la divergencia de los picos en el gráfico del indicador.
      <br>

        <img src="https://www.metatrader5.com/i/help/terminal/en/bulls_power.png" alt="Bulls Power">

        <h2>Fórmula y valores</h2>
        <article>
            La primera fase del cálculo de este indicador es el cálculo de la media móvil exponencial (como regla, se recomienda utilizar la de 13 períodos).

            BULLS = HIGH - EMA

            aquí:

            BULLS – fuerza de los toros;
            HIGH – precio máximo de la barra actual;
            EMA – media móvil exponencial.

            Durante la tendencia alcista el HIGH es más alto que la EMA, por eso la fuerza de los toros es más de cero, y el histograma se sitúa por encima de la línea cero. Si durante la bajada de los precios el HIGH se sitúa por debajo de la EMA, la fuerza de los toros es menos de cero y su histograma baja.
        </article>
      </mat-card-content>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        DeMarker
      </mat-panel-title>
      <mat-panel-description>
          DMark (i) = SMA (DeMax, N) / (SMA (DeMax, N) + SMA (DeMin, N))
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card-content>
        El indicador técnico DeMarker (DeMarker, DeM) está basado en la comparación del máximo de la barra actual con el máximo de la barra anterior. Si el máximo de la barra actual es más alto, se registra la diferencia correspondiente. Si el máximo actual es menos o igual al máximo de la barra anterior, entonces se registra el valor cero. Luego las diferencias obtenidas de esta manera para n períodos se suman. El valor obtenido se utiliza como el numerador del indicador DeMarker y se divide por el mismo valor más las suma de las diferencias entre los mínimos de precios de la barra anterior y la actual. Si el precio mínimo actual es mayor que el precio mínimo anterior, se registra el valor cero.

Cuando el indicador DeMarker cae por debajo de 30, se espera un cambio de precios alcista. Cuando los valores del indicador suben por encima de 70, se espera un cambio de precios bajista.

El uso de períodos más largos de cálculo permite agarrarse a una tendencia de larga duración en el desarrollo del mercado. Los indicadores con períodos cortos permiten entrar al mercado en el punto con menor riesgo posible y planear el momento de realizar la operación de tal manera que ésta se encuentre dentro de la tendencia imperante.
         <br>

        <img src="https://www.metatrader5.com/i/help/terminal/en/demarker.png" alt="DeMarker">

        <h2>Fórmula y valores</h2>
        <article>
            El valor del indicador DeMarker en el intervalo i se calcula de la siguiente manera:

            Se calcula DeMax (i). Si HIGH (i) > HIGH (i - 1), entonces:

            DeMax (i) = HIGH (i) - HIGH (i - 1)

            de lo contrario

            DeMax (i) = 0

            Se calcula DeMin (i). Si LOW (i) < LOW (i - 1), entonces:

            DeMin (i) = LOW (i - 1) - LOW (i)

            de lo contrario

            DeMin (i) = 0

            Se calcula el valor del indicador DeMarker:

            DMark (i) = SMA (DeMax, N) / (SMA (DeMax, N) + SMA (DeMin, N))

            Aquí:

            HIGH (i) – precio máximo de la barra actual;
            LOW (i) – precio mínimo de la barra actual;
            HIGH (i - 1) – precio máximo de la barra anterior;
            LOW (i - 1) – precio mínimo de la barra anterior;
            SMA – media móvil simple;
            N – número de períodos utilizados en el cálculo.
        </article>
      </mat-card-content>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        MACD
      </mat-panel-title>
      <mat-panel-description>
          MACD = EMA(CLOSE, 12) - EMA(CLOSE, 26)
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card-content>
        El indicador técnico "Convergencia/Divergencia de Medias Móviles" (Moving Average Convergence/Divergence, MACD) es un indicador dinámico que sigue la tendencia. Muestra la correlación de dos medias móviles del precio.

El indicador técnico MACD se construye como la diferencia de dos media móviles exponenciales (EMA) con períodos de 12 y 26. Para definir con precisión los momentos oportunos de compra y venta, en el gráfico del MACD se dibuja una media móvil de 9 períodos, conocida como "línea de señal".

El MACD es más eficaz cuando el mercado se oscila con una gran amplitud dentro de la horquilla de trading. Las señales más utilizados del MACD son las siguientes: el cruzamiento, estado de sobrecompra/sobreventa y la divergencia.

Cruzamiento
La principal regla de trading mediante el eindicador MACD se basa en los cruces del indicador con su línea de señal: cuando el Moving Average Convergence/Divergence cae por debajo de la línea de señal, hay que vender, y si sube por encima, hay que comprar. Cuando el MACD cruza la línea cero arriba/abajo, esto también puede servir de señales de compra/venta, respectivamente.

Estado de sobrecompra/sobreventa
El Moving Average Convergence/Divergence es muy útil también como un indicador de sobrecompra/sobreventa. Cuando la media móvil corta sube sustancialmente por encima de la media móvil larga (es decir, el MACD va creciendo), eso significa que el precio del instrumento en cuestión seguramente está cotizado por encima de su valor real, y pronto volverá a un nivel más real.

Divergencias
Cuando entre el MACD y el precio se forma una divergencia, significa la posibilidad de pronta finalización de la tendencia actual. Una divergencia alcista surge cuando el MACD alcanza nuevos máximos, y el el precio no logra alcanzarlo. Una divergencia bajista surge cuando el indicador alcanza nuevos mínimos, y el precio no lo consigue. Los ambos tipos de divergencia tienen más valor si se forman en las áreas de sobrecompra/sobreventa.
      <br>

        <img src="https://www.metatrader5.com/i/help/terminal/en/macd.png" alt="MACD">

        <h2>Fórmula y valores</h2>
        <article>
            El indicador técnico Moving Average Convergence/Divergence se determina restando la media móvil exponencial de 26 períodos de la media móvil exponencial de 12 períodos. Luego por encima del gráfico del MACD se puntea una media móvil simple de 9 períodos (la línea de señal).

MACD = EMA(CLOSE, 12) - EMA(CLOSE, 26)

SIGNAL = SMA(MACD, 9)

Aquí:

EMA – media móvil exponencial;
SMA – media móvil simple;
SIGNAL – línea de señal del indicador.
        </article>
      </mat-card-content>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Momentum
      </mat-panel-title>
      <mat-panel-description>
          MOMENTUM = CLOSE (i) / CLOSE (i - n) * 100
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card-content>
        El indicador técnico "Momento" (Momentum) mide la variación del precio de un instrumento financiero en un determinado período de tiempo. Los principales modos de utilización del indicador son los siguientes:

En calidad del oscilador que sigue la tendencia, igual que el Indicador técnico de Convergencia/Divergencia de Medias Móviles (Moving Average Convergence/Divergence, MACD). En este caso la señal de compra surge si el indicador Momentum forma un valle y empieza a crecer; la señal de venta – cuando alcanza el pico y se gira hacia abajo. Para una determinación más exacta de los momentos de giro del indicador, se puede utilizar su media móvil corta.
Los valores extremamente altos o bajos del indicador suponen la continuación de la tendencia actual. Así, si el indicador alcanza los valores demasiado altos y luego se da la vuelta hacia abajo, es de esperar la futura subida de precios. Pero, en cualquier caso, no hace falta apresurarse abrir (o cerrar) posiciones hasta que los precios no confirmen la señal del indicador.
En calidad del indicador adelantado. Este método se basa en la suposición de que la fase final de una tendencia alcista suele acompañarse de una impetuosa subida de precios (porque todos creen en su continuación), y la finalización del mercado bajista – de su brusca caída (porque todos intentan salir del mercado). A menudo todo pasa precisamente de esta manera, sin embargo es una generalización demasiado amplia.
El acercamiento del mercado al pico va acompañado de un salto brusco del indicador Momentum. Luego éste empieza a caer mientras que los precios siguen creciendo o continúan su movimiento horizontal. Por analogía, en el fondo del mercado el Momentum cae de forma brusca, y luego se da la vuelta hacia arriba mucho antes de que los precios empiecen a crecer. En ambos casos se forma una divergencia entre el indicador y los precios.
      <br>

        <img src="https://www.metatrader5.com/i/help/terminal/en/momentum.png" alt="Momentum">

        <h2>Fórmula y valores</h2>
        <article>
            El Momentum se determina como la relación entre el precio de hoy y el precio de hace n períodos:

MOMENTUM = CLOSE (i) / CLOSE (i - n) * 100

Aquí:

CLOSE (i) – precio de cierre de la barra actual;
CLOSE (i - n) – precio de cierre de n barras antes.
        </article>
      </mat-card-content>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
          Moving Average of Oscillator
      </mat-panel-title>
      <mat-panel-description>
          OSMA = MACD - SIGNAL
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card-content>
        El indicador técnico "Media Móvil del Oscilador" (Moving Average of Oscillator, OsMA) es la diferencia entre el oscilador y el suavizado del oscilador. En este caso, como oscilador se utiliza la línea base del MACD, y como el suavizado se utiliza la línea de señal.
      <br>

        <img src="https://www.metatrader5.com/i/help/terminal/en/osma.png" alt="Moving Average of Oscillador">

        <h2>Fórmula y valores</h2>
        <article>
            OSMA = MACD - SIGNAL
        </article>
      </mat-card-content>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
          Relative Strength Index
      </mat-panel-title>
      <mat-panel-description>
          RSI = 100 - (100 / (1 + U / D))
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card-content>
        El indicador técnico "Índice de Fuerza Relativa" (Relative Strength Index, RSI) es el oscilador que sigue el precio y se oscila en el rango de 0 a 100. Cuando J. Wilder lo introdujo, recomendaba utilizar su variante de 14 períodos. Luego el RSI de 9 y 25 períodos también recibió una gran aceptación. Uno de los métodos más populares de análisis del indicador Relative Strength Index consiste en la búsqueda de divergencias cuando el precio forma un nuevo máximo y el RSI no consigue superar el nivel de su máximo anterior. La divergencia de este tipo indica en una posible vuelta de precios. Si luego el indicador da la vuelta hacia abajo y cae por debajo de su mínimo, entonces se dice que finaliza una "oscilación fallida" (failure swing). Esta oscilación fallida es considerada como confirmación de un pronto giro de precios.

En el análisis de gráficos se consideran las siguientes señales del Relative Strength Index:

Picos y valles
Los picos del indicador Relative Strength Index suelen formarse por encima de 70, y los valles – por debajo 30, y generalmente anticipan la formación de picos y valles en el gráfico de precios.
Modelos chartistas
El Relative Strength Index forma con frecuencia las siguientes formaciones chartistas: "cabeza y hombros" o triángulos, los cuales pueden mostrarse o no en el gráfico de precios.
La oscilación fallida (ruptura del nivel de soporte y resistencia)
Tiene lugar cuando el Relative Strength Index sube sobre el máximo anterior (pico) o cae más bajo que el mínimo anterior (valle).
Niveles de soporte y resistencia
En el gráfico del indicador Relative Strength Index los niveles de soporte y resistencia se ven incluso con más claridad que en el gráfico de precios.
Divergencias
Como ya ha sido dicho antes, las divergencias se forman cuando el precio alcanza su nuevo máximo (mínimo), pero sin confirmarse con un nuevo máximo (mínimo) en el gráfico del RSI. En este caso generalmente sucede una corrección de precios en dirección del movimiento del indicador Relative Strength Index.
      <br>

        <img src="https://www.metatrader5.com/i/help/terminal/en/rsi.png" alt="Relative Strength Index">

        <h2>Fórmula y valores</h2>
        <article>
            Es la fórmula principal para calcular el Relative Strength Index:

RSI = 100 - (100 / (1 + U / D))

Aquí:

U – valor medio de los cambios de precios positivos;
D – valor medio de los cambios de precios negativos.
        </article>
      </mat-card-content>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
          Money Flow Index
      </mat-panel-title>
      <mat-panel-description>
          MFI = 100 - (100 / (1 + MR)
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card-content>
        Indicador técnico "Índice de Flujo del Dinero" (Money Flow Index, MFI) mide la fuerza con la que el dinero fluye hacia dentro o hacia fuera de una acción. La construcción e interpretación de este indicador es idéntica al Relative Strength Index, con la única diferencia: en el MFI se toma en cuenta el volumen.

A la hora de analizar el Money Flow Index hay que tener en cuenta:

divergencias entre el indicador y movimiento de precios. Si los precios suben y el valor del Money Flow Index baja (o al revés), es muy probable que los precios den la vuelta;
el valor del Money Flow Index superior a 80 e inferior a 20 señaliza sobre el pico o la base potencial del mercado, respectivamente.
      <br>

        <img src="https://www.metatrader5.com/i/help/terminal/en/mfi.png" alt="Money Flow Index">

        <h2>Fórmula y valores</h2>
        <article>
            El cálculo del valor del indicador Money Flow Index incluye varias etapas. Primero se define el precio típico (Typical Price, TP) del período en cuestión:

TP = (HIGH + LOW + CLOSE) / 3

Luego se calcula el monto del Flujo del Dinero (Money Flow, MF):

MF = TP * VOLUME

Si hoy el precio típico supera el de ayer, entonces el flujo del dinero se considera positivo. Si hoy el precio típico es más bajo que el de ayer, entonces el flujo del dinero se considera negativo.

El flujo del dinero positivo (POSITIVE MONEY FLOW) es la suma de valores de los flujos del dinero positivos durante el período seleccionado. El flujo del dinero negativo (NEGATIVE MONEY FLOW) es la suma de valores de los flujos del dinero negativos durante el período seleccionado.

Luego se calcula el ratio monetario (money ratio, MR), dividiendo el flujo positivo por el negativo:

MR = POSITIVE MONEY FLOW / NEGATIVE MONEY FLOW

Y por último, utilizando el ratio monetario se calcula el Índice de Flujos del Dinero:

MFI = 100 - (100 / (1 + MR)

Aquí:

HIGH – precio máximo de la barra actual;
LOW – precio mínimo de la barra actual;
CLOSE – precio de cierre de la barra actual;
VOLUME – volumen de la barra actual.
        </article>
      </mat-card-content>
</mat-expansion-panel>

<mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
          On Balance Volume
      </mat-panel-title>
      <mat-panel-description id="obv">
          OBV (i) = OBV (i - 1) + VOLUME (i).<br>
          OBV (i) = OBV (i - 1) - VOLUME (i)<br>
          OBV (i) = OBV (i - 1)

      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card-content>
        El indicador técnico "Balance de Volúmenes" (On Balance Volume, OBV) relaciona el volumen con los cambios de precio que han acompañado este volumen. Este indicador inventado por Joseph Granville es muy sencillo. Si el precio de cierre de la barra actual es más alto que el precio de cierre de la barra anterior, el valor del volumen de la barra actual se suma al valor anterior del OBV. Si el precio de cierre de la barra actual es más bajo que el de la barra anterior, el volumen actual se resta del valor anterior del Balance de Volúmenes.

La interpretación del indicador On Balance Volume se basa en el principio que los cambios del OBV preceden los cambios de precios. Según este principio, el aumento del volumen de balance significa que en el instrumento invierten los profesionales. Cuando más tarde el gran público empieza a invertir, el precio y los valores del indicador OBV empiezan a crecer bruscamente.

Si el precio adelanta en su movimiento el indicador On Balance Volume, ocurre así llamada "la falta de confirmación". Se puede observarlo en el pico del mercado alcista (cuando el precio sube sin el crecimiento correspondiente del Balance de Volúmenes, o adelantándolo) o en la base del mercado bajista (cuando el precio baja sin el decrecimiento correspondiente del Balance de Volúmenes, o adelantándolo).

Si cada nuevo pico es más alto que el anterior y cada nueva depresión supera a la anterior, se puede hablar de una tendencia alcista del On Balance Volume. Por analogía, una tendencia bajista del OBV supone la bajada de los picos y depresiones. Cuando el OBV se mueve por un canal horizontal sin formar picos y depresiones ascendentes y descendentes sucesivamente, se trata de una tendencia indeterminada.

Si la tendencia ya se ha establecido, se queda vigente hasta el momento del cambio. El cambio de la tendencia del On Balance Volume puede ocurrir de dos maneras. En el primer caso la tendencia se transforma de alcista a bajista, o bien de bajista a alcista.

En el segundo caso, la tendencia del OBV se pasa a una tendencia indeterminada y se mantiene así durante más de tres períodos. De esta manera, si la tendencia alcista se transforma en una tendencia indeterminada y se queda así durante unos dos períodos, y luego vuelve a ser alcista, se debe considerar que esta tendencia OBV todo este tiempo seguía siendo alcista.

Si la tendencia del indicador On Balance Volume se cambia de alcista a bajista, ocurre lo que se llama "ruptura". Debido a que las rupturas del indicador normalmente preceden a las rupturas de precios, los inversores deben ocupar las posiciones largas en caso de las rupturas del OBV hacia arriba, y vender en caso de las rupturas del OBV hacia abajo, respectivamente. Hay que mantener las posiciones abiertas hasta que la dirección de la tendencia no se cambie.
      <br>

        <img src="https://www.metatrader5.com/i/help/terminal/en/obv.png" alt="On Balance Volume">

        <h2>Fórmula y valores</h2>
        <article>
            Si el precio de cierre actual es más alto que el anterior, entonces:

OBV (i) = OBV (i - 1) + VOLUME (i).

Si el precio de cierre actual es más bajo que el anterior, entonces:

OBV (i) = OBV (i - 1) - VOLUME (i)

Si el precio de cierre actual es igual al precio anterior, entonces:

OBV (i) = OBV (i - 1)

Aquí:

OBV (i) – valor del indicador On Balance Volume durante el período actual;
OBV (i - 1) – valor del indicador On Balance Volume durante el período anterior;
VOLUME (i) – volumen de la barra actual.
        </article>
      </mat-card-content>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Volumes
    </mat-panel-title>
    <mat-panel-description>
        
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-card-content>
    Para el mercado Forex el indicador Volumes (volúmenes) es un indicador del número de cambios del precio en el transcurso de cada período del timeframe seleccionado. Para los símbolos del valor cotizado es un indicador de volúmenes tradeados actualmente (contratos, dinero, unidades, etc.).
    Las barras del indicador tienen dos colores. El verde significa que el volumen de la barra actual supera el volumen de la barra anterior. El color rojo significa que el volumen de la barra actual es menos que el volumen de la barra anterior. Los colores del indicador, así como su aplicación a los volúmenes reales o de ticks, se puede ajustar en sus parámetros.
    <br>

      <img src="https://www.metatrader5.com/i/help/terminal/en/volumes_indicator.png" alt="volumes">

    </mat-card-content>

</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Accelerator of Oscillator
    </mat-panel-title>
    <mat-panel-description>
        AC = AO - SMA (AO, 5)
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-card-content>
    El precio es el último elemento que se cambia. Antes de que se cambie el precio, la fuerza impulsora del mercado cambia su dirección. Pero antes eso, la aceleración de esta fuerza debe disminuirse y llegar a cero. Luego se empieza a acelerar en dirección contraria hasta el momento cuando el precio empiece a cambiar su dirección.

    El indicador técnico "Aceleración/Desaceleración" (Acceleration/Deceleration, Accelerator/Decelerator Oscillator, AC) mide la aceleración y desaceleración de la fuerza impulsora actual. Este indicador va a cambiar la dirección antes de cualquier cambio en la fuerza impulsora, y ésta en su lugar va a cambiar su dirección antes del cambio del precio. La comprensión de que el АС es una señal de alerta adelantada da unas evidentes ventajas.

    La línea cero es básicamente el lugar donde la fuerza impulsora está en equilibrio con la aceleración. Si el Oscilador de Aceleración/Desaceleración está por encima de cero, entonces normalmente resulta más fácil para la aceleración continuar el movimiento ascendiente (y viceversa en casos cuando está por debajo de cero). A diferencia del Awesome Oscillator, el cruce de la línea cero no se considera una señal. Lo único que hay que hacer para controlar el mercado y tomar decisiones es estar atento a los cambios del color. Para evitar unas serias reflexiones, hay que recordar una cosa: no se recomienda comprar con la ayuda del AC cuando la columna actual está en rojo, y no se debe vender cuando la columna actual está en verde.

    Si Usted entra al mercado en la dirección de la fuerza impulsora (el indicador Acceleration/Deceleration está por encima de cero al comprar, o por debajo de cero al vender), sólo necesita dos columnas verdes para comprar (dos columnas rojas para vender). Si la fuerza impulsora va en contra de la posición que se abre (el indicador está por debajo de cero durante la compra, o por encima de cero durante la venta), se necesita la confirmación, por eso hace falta una columna adicional. En este caso es necesario que el indicador muestre tres columnas rojas por encima de la línea cero para una posición corta, y tres verdes por debajo de cero para una posición larga.
    <br>

      <img src="https://www.metatrader5.com/i/help/terminal/en/ac.png" alt="Oscillator">

      <h2>Fórmula y valores</h2>
      <article>
          El gráfico de barras АС es la diferencia entre el valor de 5/34 del gráfico de barras de la fuerza impulsora y la media móvil simple de cinco períodos tomada de este gráfico de barras.

          MEDIAN PRICE = (HIGH + LOW) / 2

          AO = SMA (MEDIAN PRICE, 5) - SMA (MEDIAN PRICE, 34)

          AC = AO - SMA (AO, 5)

          Aquí:

          MEDIAN PRICE – precio mediano;
          HIGH – precio máximo de la barra;
          LOW – precio mínimo de la barra;
          SMA – media móvil simple;
          AO – indicador Awesome Oscillator.

      </article>

    </mat-card-content>
  </mat-expansion-panel>


</mat-accordion>
