<div class="container-fluid" style="z-index: 200;  position: fixed;">
  <div class="row" style="height: 10vh; background-color: black;" >
    <div class="col-6 col-sm-8 col-md-11" id="titulo">
      <img width="50vw" height="50vh" src="../../../../assets/LogoToolbar.png" alt="fondo">BackTrading
    </div>
    <div class="col-6 col-sm-4 col-md-1" id="logout">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>perm_identity</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)='onLogout()'>
          <mat-icon>meeting_room</mat-icon>
          <span>Cerrar sesion</span>
        </button>
        <button mat-menu-item (click)='changePassword()'>
          <mat-icon>build</mat-icon>
          <span>Cambiar contraseña</span>
        </button>

      </mat-menu>
    </div>
  </div>

</div>


