<app-inicio-sesion></app-inicio-sesion>
<div class="container-fluid">
  <form [formGroup]="recuperacionForm" (submit)="recuperarCuenta(recuperacionForm)">
    <div class="row" style="height: 4vh;"></div>
    <div class="row" >
      <div class="col-12 col-sm-6 col-md-7" id="blogo">
        <img width="280vw" height="280vh" src="../../../../assets/LogoBT.png" alt="fondo">
      </div>
      <mat-card class="col-12 col-sm-5 col-md-4" style="background-color:whitesmoke; border-radius:0; text-align: center;" id="media" >
        <mat-card-title style="text-align: left;" class="mat-card-title">Recupera tu cuenta</mat-card-title>
        <mat-card-subtitle style="text-align: left;">
           Ingresa tu correo electrónico para buscar tu cuenta.
        </mat-card-subtitle>

        <mat-card-content style="padding: 0;">
        <mat-form-field style="text-align: left;" appearance="outline">
          <mat-label>Correo electrónico</mat-label>
          <input matInput placeholder="user123@example.com" formControlName="correoRecuperacion" >
          <mat-icon matSuffix>email</mat-icon>
          <mat-hint  *ngIf="correoRecuperacion.invalid && (correoRecuperacion.dirty || correoRecuperacion.touched)">
              <mat-hint class="errores" *ngIf="correoRecuperacion.errors.pattern"> correo no valido</mat-hint>
          </mat-hint>
        </mat-form-field>
      </mat-card-content>

        <mat-card-content class="notFound" *ngIf="!encontrado" matTooltip='Tu búsqueda no arrojó ningún resultado. Vuelve a intentarlo con otros datos.'>
          No hay resultados de búsqueda
        </mat-card-content>
        <mat-card-content class="Found" *ngIf="auxEncontrado">
            Se envio a tu correo una nueva contraseña
          </mat-card-content>
      <mat-card-content  style="text-align: right;"  >
        <button mat-button class="buscar"> Buscar </button>
        <button mat-button class="cancelar" (click)='goHome()'> Cancelar </button>
      </mat-card-content>

      </mat-card>
      <div class="col-12 col-sm-1 col-md-1">

      </div>
    </div>
  </form>
</div>
