#formRecuperacion{
  z-index: 100;
  position: absolute;
  width: 34%;
  top: 26%;
  left: 61%;

}
.errores{
  color: red;
}
.notFound{
  padding: 2%;
  border-width: thin;
  border-style: solid;
  border-color: rgba(218, 0, 0, 0.959);
  background-color: rgb(255, 195, 195);
  font-size: small;
}
.Found{
  padding: 2%;
  border-width: thin;
  border-style: solid;
  border-color: rgba(10, 85, 0, 0.959);
  background-color: rgb(186, 238, 171);
  font-size: small;
}
mat-card{

}

mat-form-field{
  width: 100%;
  height: 10%;
}
.buscar{
  color: white;
  background-color: rgb(18, 27, 109);
  right: 4px;
}

.cancelar{
  color: white;
  background-color: crimson;

}

#blogo{

  display: flex;
  justify-content: center;
  align-items: center;

}

@media screen and (max-width: 575px){
  #media{
    padding-left: 15%;
    padding-right: 15% ;
  }

  }

