<mat-card>
    <mat-card-title> Cambiar contraseña </mat-card-title>
    <mat-card-subtitle><h4> cambia tu contraseña actual por una diferente</h4></mat-card-subtitle>
    <form [formGroup]="pswForm" (submit)="cambiaPsw(pswForm)">
    <mat-card-content>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Contraseña actual</mat-label>
                <input matInput type="{{type}}" placeholder="Contraseña" formControlName="actualPsw" >
                <mat-icon matSuffix (click)="muestra()" style ="cursor: pointer;">{{icon}}</mat-icon>

                <mat-hint  *ngIf="actualPsw.invalid && (actualPsw.dirty || actualPsw.touched)">
                    <mat-hint class="errores" *ngIf="actualPsw.errors.required"> Ingresa una contraseña</mat-hint>
                </mat-hint>

              </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="outline">
                <mat-label>Nueva Contraseña</mat-label>
                <input matInput type="{{type}}" placeholder="Contraseña" formControlName="newPsw" >
                <mat-icon matSuffix (click)="muestra()" style ="cursor: pointer;">{{icon}}</mat-icon>

                <mat-hint  *ngIf="newPsw.invalid && (newPsw.dirty || newPsw.touched)">
                    <mat-hint class="errores" *ngIf="newPsw.errors.minlength"> contraseña menor a 7 caracteres</mat-hint>
                    <mat-hint class="errores" *ngIf="newPsw.errors.maxlength"> contraseña mayor a 10 caracteres</mat-hint>

                </mat-hint>

              </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Confirmar Contraseña</mat-label>
                <input matInput type="{{type}}" placeholder="Contraseña" formControlName="confirmPsw" >
                <mat-icon matSuffix (click)="muestra()" style ="cursor: pointer;">{{icon}}</mat-icon>

                <mat-hint  *ngIf="newPsw.invalid && (newPsw.dirty || newPsw.touched)">
                    <mat-hint class="errores" *ngIf="newPsw.errors.minlength"> contraseña menor a 7 caracteres</mat-hint>
                    <mat-hint class="errores" *ngIf="newPsw.errors.maxlength"> contraseña mayor a 10 caracteres</mat-hint>

                </mat-hint>

              </mat-form-field>
        </p>


        <mat-card-content class="notFound" *ngIf="!verificado">
            La contraseña actual no coincide
          </mat-card-content>

        <mat-card-content class="Found" *ngIf="actualizado">
            Se ha actualizado la contraseña
          </mat-card-content>





            <button mat-button style="background-color: rgb(34, 34, 37); color: white;" type="submit">Guardar</button>
            <button mat-button style="background-color: rgb(207, 46, 18); color: white;" (click)="cancelar()"> Cancelar </button>



    </mat-card-content>
    </form>
</mat-card>

