mat-card{
  position: absolute;

  top: 12%;
  left: 40%;
  right: 20%;
  text-align: center;
  padding-bottom: 7%;
}

.errores{
  color: red;
}

.notFound{
  padding: 2%;
  border-width: thin;
  border-style: solid;
  border-color: rgba(218, 0, 0, 0.959);
  background-color: rgb(255, 195, 195);
  font-size: small;
}
.Found{
  padding: 2%;
  border-width: thin;
  border-style: solid;
  border-color: rgba(10, 85, 0, 0.959);
  background-color: rgb(186, 238, 171);
  font-size: small;
}
mat-form-field{
  width: 90%;
}
@media screen and (max-width: 780px){
  mat-form-field{
    width: 90%;
  }
  mat-card{
    top: 12%;
    left: 20vw;
    width: 75vw;
    text-align: center;
    padding-bottom: 7%;


  }
}
