<mat-card class="mat-card">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6">
        <mat-card-title> Crear sistemas de trading </mat-card-title>
        <mat-card-subtitle ><h4>Configure fácilmente un nuevo sistema</h4></mat-card-subtitle>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-12 col-md-3" style="padding-left: 0;" >
        <form [formGroup]="sistemaForm" (submit)="onCreate(sistemaForm)">
          <mat-card-content style="padding: 0">

            <mat-form-field appearance="outline">
              <mat-label *ngIf="!editando">Nombre</mat-label>
              <mat-label *ngIf="editando" style="color:royalblue"><strong>{{selectedSystem.nombre}}</strong></mat-label>
              <input matInput [(ngModel)]='ngNombre' formControlName='nombre' placeholder="My systems">
              <mat-icon matSuffix>text_format</mat-icon>
              <mat-hint  *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                <mat-hint class="errores" *ngIf="nombre.errors.required"> Ingresa un nombre</mat-hint>
                <mat-hint class="errores" *ngIf="nombre.errors.minlength"> nombre menor a 2 caracteres</mat-hint>
                <mat-hint class="errores" *ngIf="nombre.errors.maxlength"> nombre mayor a 15 caracteres</mat-hint>

              </mat-hint>

            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label *ngIf="!editando">Rendimiento</mat-label>
              <mat-label *ngIf="editando" style="color:royalblue"><i><strong>{{selectedSystem.rendimiento}}</strong></i></mat-label>
              <input matInput [(ngModel)]='ngRendimiento' formControlName='rendimiento' type="number" placeholder="2.3%">

            <mat-hint  *ngIf="rendimiento.invalid && (rendimiento.dirty || rendimiento.touched)">
              <mat-hint class="errores" *ngIf="rendimiento.errors.required"> Ingresa un rendimiento</mat-hint>
            </mat-hint>
          </mat-form-field>


          <mat-form-field appearance="outline">
            <mat-label *ngIf="!editando">StopLoss</mat-label>
            <mat-label *ngIf="editando" style="color:royalblue"><i><strong>{{selectedSystem.stopLoss}}</strong></i></mat-label>
            <input matInput [(ngModel)]='ngStoploss' formControlName='stoploss' type="number" placeholder="-1.5%">

          <mat-hint  *ngIf="stoploss.invalid && (stoploss.dirty || stoploss.touched)">
            <mat-hint class="errores" *ngIf="stoploss.errors.required"> Ingresa un stoploss</mat-hint>
          </mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label *ngIf="!editando">Rango de operacion</mat-label>
          <mat-label *ngIf="editando" style="color:royalblue"><i><strong>{{selectedSystem.periodo}}</strong></i></mat-label>
        <input matInput [(ngModel)]='ngRango' formControlName='rango' type="number" placeholder="3 días">
        <mat-icon matSuffix> date_range</mat-icon>
        <mat-hint  *ngIf=" 1 > rango.value || (rango.invalid && (rango.dirty || rango.touched))">
          <mat-hint class="errores" *ngIf="rango.errors.required"> Ingresa un rango</mat-hint>
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label *ngIf="!editando">Indicadores</mat-label>
        <mat-label *ngIf="editando" style="color:royalblue"><i><strong> Nueva condicion</strong></i></mat-label>
        <mat-select [(value)]='selectedvalue'  multiple>
          <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
        </mat-select>
      <mat-icon matSuffix></mat-icon>
    </mat-form-field>
    <br>
            <button mat-button style="background-color: rgb(34, 34, 37); color: white;" type="submit" *ngIf="!editando">Añadir</button>
            <button mat-button style="background-color: rgb(15, 77, 170); color: white;" type="submit" *ngIf="editando" >Guardar</button>


          </mat-card-content>

        </form>
        <button mat-button style="background-color: rgb(192, 27, 27); color: white;" (click)="cancelar()" *ngIf="editando">Cancelar</button>

      </div>


      <div class="col-12 col-sm-12 col-md-9" style="padding-left: 0;">
        <table id="table" mat-table [dataSource]="listaDeSistemas" matSort class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="rendimiento">
            <th mat-header-cell  *matHeaderCellDef> StopLimit </th>
            <td mat-cell *matCellDef="let element"> {{element.rendimiento}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="stoploss">
            <th mat-header-cell  *matHeaderCellDef> StopLoss </th>
            <td mat-cell *matCellDef="let element"> {{element.stopLoss}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="rango">
            <th mat-header-cell *matHeaderCellDef> Intérvalo (Días) </th>
            <td mat-cell *matCellDef="let element"> {{element.periodo}} </td>
          </ng-container>

          <!-- Indicators Column -->
          <ng-container matColumnDef="indicadores">
              <th mat-header-cell *matHeaderCellDef> Indicadores </th>
              <td mat-cell *matCellDef="let element"> {{element.condicion}} </td>
            </ng-container>

          <!-- acciones Column -->
          <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef>  </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)='eliminarSistema(element._id)'>
                    <mat-icon>delete_forever</mat-icon>
                </button>
                <button mat-icon-button (click)='editarSistema(element)'>
                    <mat-icon>edit</mat-icon>
                </button>
              </td>
            </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
      </div>


    </div>
  </div>

</mat-card>

