mat-form-field{
  width: 80%;
}

mat-icon{
  font-size: 2vw;
}

mat-paginator{
  font-size: 1vw;
}

.mat-cell{
font-size: 1vw;
}

.mat-header-cell{
  font-size: 1vw;
}

#table{
  width: 100%;
}

.filtro{
  position: absolute;
  top: 10%;
  right: 5%;
}

.example-viewport {
  height: 100%;
  width: 100%;
  border: 1px solid black;
}

.example-item {
  height: 50px;
}
.mat-card{
  position: absolute;

  top: 12%;
  left: 21%;
  right: 1%;

  padding-bottom: 7%;

}
.errores{
  color: red;
}

@media screen and (max-width: 959px){

  .mat-cell{
    font-size: 1.4vw;
  }

  .mat-header-cell{
    font-size: 1.5vw;
  }
  mat-paginator{
    font-size: 1.4vw;
  }
}

@media screen and (max-width: 660px){

  mat-icon{
    font-size: 2.2vw;
  }

  .mat-cell{
    font-size: 1.8vw;
  }

  .mat-header-cell{
    font-size: 1.9vw;
  }
  mat-paginator{
    font-size: 1.3vw;
  }
}

@media screen and (max-width: 450px){

  mat-icon{
    font-size: 2vw;
  }

  .mat-cell{
    font-size: 1.4vw;
  }

  .mat-header-cell{
    font-size: 1.5vw;
  }

}
