<mat-card class="cuadro">
  <h1>Guía de uso</h1>
  <br>
  <h4>- Sistema de trading</h4>
  <article>
    En este apartado puedes encontrar una tabla con todos los sistemas que hayas creado, descritos
    por cada una de sus variables.

    Para crear un nuevo sistema da click en el botón crear y configura tu nuevo sistema.
  </article>
  <br>
  <h4>- Trading automático</h4>
  <article>
    Usted puede configurar la función de trading automático para conocer en qué accion debe invertir
    conforme a sus estilo de trading.
  </article>
  <br>
  <h4>- Backtesting</h4>
  <article>
    Conozca sus sistemas de trading y conozca el rendimiento conforme al tiempo, elija alguno de sus sistema de trading
    y presione ejecutar backtesting.
  </article>
  <br>
  <h4>- Introducción</h4>
  <article>
    Si es nuevo en el mundo de las inversiones, no puede saltarse esta sección, revise el contenido y aprenda a pensar
    como trader, perder como trader y ganar como trader.
  </article>
  <br>
  <h4>- Tutorial</h4>
  <article>
    Vea un video para aprender a usar cada funcionalidad de esta aplicación y explótela al máximo.
  </article>
  <br>
  <h4>- Indicadores</h4>
  <article>
    Vea y entienda cada uno de los inidcadores técnicos que utiliza la aplicación.
    Ahí encontrará las definiciones y cómo se calculan.
  </article>
</mat-card>