.cuadro{
  position: absolute;

  top: 12%;
  left: 23%;
  right: 6%;

  padding-bottom: 7%;
  justify-content: left;
  background-color: rgb(51, 51, 51);
  color: white;
}

h4{
  color: deepskyblue;
  font-style: oblique;
}

@media screen and (max-width: 959px){
  
  article{
    font-size: 1.7vw;
  }

  h4{
    font-size: 1.7vw;
  }

  h1{
    font-size: 2.2vw;
  }

}

@media screen and (max-width: 660px){
  
  article{
    font-size: 2.1vw;
  }

  h4{
    font-size: 2.1vw;
  }

  h1{
    font-size: 2.6vw;
  }
}

@media screen and (max-width: 450px){
  
  article{
    font-size: 2.3vw;
  }

  h4{
    font-size: 2.3vw;
  }

  h1{
    font-size: 2.8vw;
  }
}

@media screen and (max-width: 375px){
  article{
    font-size: 2.7vw;
  }

  h4{
    font-size: 2.7vw;
  }

  h1{
    font-size: 3.2vw;
  }

}
