mat-card{
  width: auto;
  height: auto;
  background-color: rgb(34, 34, 37);
  border-radius: 0;
}
.galeria{
  position: absolute;
 
  top: 13%;
  left: 23%;
  right: 6%;
  padding-bottom: 7%;
  text-align: center;
}
mat-grid-list{
}

mat-grid-tile{
position: absolute;
}
mat-card-title{
  color: white;
}

iframe{
  width: 70%;
  height: 80%;
}

@media screen and (max-width: 1265px){
mat-card-title{
  font-size: 1.3vw;
}
}

@media screen and (max-width: 950px){
  mat-card-title{
    font-size: 1.8vw;
  }
  }

  @media screen and (max-width: 660px){
    mat-card-title{
      font-size: 2.6vw;
    }
    }

    @media screen and (max-width: 375px){
      mat-card-title{
        font-size: 3vw;
      }
      }


