<div class="galeria">
  <h2>Introducción al trading</h2>
  <br>
  <div class="row">
        <mat-card class="mat-elevation-z7" class="col-12 col-sm-12 col-md-6">
          <mat-card-title>
            Estafas de trading en la red
          </mat-card-title>
          <iframe  src="https://www.youtube.com/embed/6wn2uTzGA3w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

          </mat-card>
    
          <mat-card class="mat-elevation-z7" class="col-12 col-sm-12 col-md-6">
            <mat-card-title>
              Gestión de riesgos
            </mat-card-title>
            <iframe  src="https://www.youtube.com/embed/oHKLWvLrZMI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </mat-card>

        

  </div>
  <div class="row">

    <mat-card class="mat-elevation-z7" class="col-12 col-sm-12 col-md-6">
      <mat-card-title>
        Abre tu cuenta de inversionista desde cero
      </mat-card-title>
      <iframe src="https://www.youtube.com/embed/IG5Zfjz5H2U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  </mat-card>

  <mat-card class="mat-elevation-z7" class="col-12 col-sm-12 col-md-6">
    <mat-card-title>
      Minimizar pérdidas.
    </mat-card-title>
    <iframe src="https://www.youtube.com/embed/VQQ4r7nq1p4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  </mat-card>

  </div>
