<mat-card  id= "card-principal"style=" text-align:justify;">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12">
      <mat-card-title> Prueba tus sistemas de trading </mat-card-title>

    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-12 col-md-4">
      <form [formGroup]="backtestingForm" (submit)="onCreate(backtestingForm)">
        <mat-card-content>
          <mat-form-field>
            <mat-label>Seleccione un sistema</mat-label>
            <mat-select [(value)]='selectedSystem' (selectionChange)='imprimeSistema(selectedSystem)' required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let item of systems" [value]='item' > {{item.nombre}} </mat-option>
            </mat-select>

          </mat-form-field>

          <br>
            <mat-button-toggle-group [(value)]='modoUsuario'  name="fontStyle" aria-label="Font Style" appearance="Legacy">
              <mat-button-toggle value="aprendiz">Aprendiz</mat-button-toggle>
              <mat-button-toggle value="novato">Novato</mat-button-toggle>
              <mat-button-toggle value="pro">Pro</mat-button-toggle>
            </mat-button-toggle-group>

            <mat-form-field appearance="outline" style="padding-top: 1vh;">
              <mat-label>Rendimiento</mat-label>
              <input [(ngModel)]='ngRendimiento' name='rendimiento' matInput placeholder="2.3%" formControlName='rendimiento' type='number'>
              <mat-icon matSuffix>attach_money</mat-icon>
              <mat-hint  *ngIf="rendimiento.invalid && (rendimiento.dirty || rendimiento.touched)" class="errores">
                  Ingresa un rendimiento
                </mat-hint>
              <mat-hint *ngIf="rendimiento.value >= 3 && (modoUsuario === 'aprendiz' || modoUsuario === 'novato') " class="recomendacion"  matTooltip=" Sugerimos reducir el rendimiento por debajo del 3% para que más operaciones se cumplan con éxito"> Rendimiento muy alto <mat-icon>help</mat-icon> </mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>StopLoss</mat-label>
              <input [(ngModel)]='ngStoploss' name='stoploss'  matInput type="number" placeholder="1.5% no valores negativos" formControlName='stoploss' type='number'>
              <mat-icon matSuffix>money_off</mat-icon>
              <mat-hint  *ngIf="stoploss.invalid && (stoploss.dirty || stoploss.touched)">
                <mat-hint class="errores" *ngIf="stoploss.errors.required"> Ingresa un stoploss </mat-hint>
              </mat-hint>
              <mat-hint *ngIf="stoploss.value >= 1.5 && (modoUsuario === 'aprendiz' || modoUsuario === 'novato') " class="recomendacion"  matTooltip=" Sugerimos reducir el stoploss por debajo de 1.5% para evitar que pierdas el capital en pocas operaciones"> Stoploss muy alto <mat-icon>help</mat-icon> </mat-hint>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Rango de operación</mat-label>
                <input [(ngModel)]='ngRango' [(value)]='ngRango' name='rango' matInput type="number" placeholder="3 días" formControlName='periodo' (input) = 'enTiempo(fechaFinalizacion.value, fechaInicio.value, periodo.value)'>
                <mat-icon matSuffix> date_range</mat-icon>
                <mat-hint  *ngIf="periodo.invalid && (periodo.dirty || periodo.touched); else elseBlock">
                  <mat-hint class="errores" *ngIf="periodo.errors.required"> Ingresa un rango de operación </mat-hint>
                </mat-hint>
                <ng-template #elseBlock >
                  <mat-hint *ngIf="2 > periodo.value  && (modoUsuario === 'aprendiz' || modoUsuario === 'novato' ||  modoUsuario === 'pro') " class="errores"  matTooltip="Los periodos de operación no pueden ser menores a 2 días"> Periodo de operación muy corto <mat-icon>help</mat-icon> </mat-hint>
                </ng-template>
                <mat-hint *ngIf="periodo.value > 50  && (modoUsuario === 'aprendiz' || modoUsuario === 'novato' ||  modoUsuario === 'pro') " class="errores"  matTooltip="El sistema aun no soporta backtesting mayor a 50 días"> Periodo de operación muy largo <mat-icon>help</mat-icon> </mat-hint>


              </mat-form-field>


              <mat-form-field appearance="outline">
                <mat-label>Día de inicio</mat-label>
                <input matInput type="date" formControlName='fechaInicio' (input) = 'enTiempo(fechaFinalizacion.value, fechaInicio.value, periodo.value)'>
                <mat-icon matSuffix>calendar_today</mat-icon>
                <mat-hint  *ngIf="fechaInicio.invalid && (fechaInicio.dirty || fechaInicio.touched)">
                  <mat-hint class="errores" *ngIf="fechaInicio.errors.required"> Ingresa un día de inicio </mat-hint>
                </mat-hint>
              </mat-form-field>

              <p *ngIf="MuestraCampoFechaFinalizacion">
                <mat-form-field appearance="outline">
                  <mat-label>Día de Finalización</mat-label>
                  <input matInput  type="date" formControlName='fechaFinalizacion' (input) = 'enTiempo(fechaFinalizacion.value, fechaInicio.value, periodo.value)'>
                  <mat-icon matSuffix>calendar_today</mat-icon>
                  <mat-hint  *ngIf="fechaFinalizacion.invalid && (fechaFinalizacion.dirty || fechaFinalizacion.touched) ; else errorFecha">
                    <mat-hint class="errores" *ngIf="fechaFinalizacion.errors.required"> Ingresa un día de finalizacion </mat-hint>
                  </mat-hint>
                  <ng-template #errorFecha>
                      <mat-hint *ngIf="!fechaFinalizacion.invalid && fechaInicio.value >= fechaFinalizacion.value; else validaDiaFin"  class="errores"> El día de finalización debe ser posterior al de inicio </mat-hint>
                  </ng-template >
                  <ng-template #validaDiaFin>
                      <mat-hint *ngIf="!inTime ;else CabeRango"  class="errores" matTooltip="Los backtesting se ejecutan con precios al día de ayer ( modifique su día de inicio de ser necesario )"> No existen precios para este día <mat-icon> help </mat-icon> </mat-hint>
                  </ng-template>
                  <ng-template #CabeRango>
                    <mat-hint *ngIf="!inRango"  class="errores" matTooltip="El margen de días entre inicio y fin es menor al rango de operación (modifique el rango o inicio de ser necesario) ¡No olvide que finalización no debe ser mayor al día actual! "> Rango de operación superior a la diferencia de dias<mat-icon> help </mat-icon> </mat-hint>
                  </ng-template>
                  </mat-form-field>
              </p>
              <button mat-button class="ejecutar" type="submit" cl>Ejecutar backtesting </button>

        </mat-card-content>

      </form>
    </div>
    <div id="columnados" class="col-12 col-sm-12 col-md-8" style=" display: flex; align-items: center; justify-content: center;">
      <mat-progress-spinner diameter="100" strokeWidth="90"    mode="indeterminate" *ngIf="cargandoResultado" color="warn"></mat-progress-spinner>
      <mat-card class="empresaGanadora" *ngIf="muestraResultadoBacktesting" style="top: 0; left: 2vh; width: 80%;  font-size: 1vw;">
        <mat-card-title> Resultado Backtesting</mat-card-title>
        <mat-card-subtitle> Tu mejor opcion para invertir es la siguiente empresa</mat-card-subtitle>
        <div>

          <p matTooltip="Empresa del S&P100">Simbolo: {{empresaSimbolo}} </p>
          <p>Operaciones realizadas: {{empresaOpRealizadas}} </p>
          <p>Operaciones exitosas: {{empresaOpExitosas}} </p>
          <p>Operaciones fallidas: {{empresaOpFallidas}} </p>
          <p>Probabilidad de exito: {{empresaProbExito}} % </p>
          <p>Usabilidad: {{empresaUsabilidad}} </p>

        </div>
        <button mat-button class = 'optimizar' (click)="muestraOptimizacion()"> Optimizar </button>
        <div class = 'optimizarCuadro' *ngIf="muestraOptimizar">
            <p matTooltip="Sumatoria de dias en operacion/operaciones realizadas">Promedio de dias por operacion: {{empresaPromedioTiempo}}  </p>
            <p matTooltip = "Sumatoria precios máximos por operacion realizada/operaciones realizadas">Promedio de precio maximo: {{empresaPromedioPrecioMaximo}}  </p>
            <p matTooltip = "Sumatoria precios mínimos por operacion realizada/operaciones realizadas">Promedio de precio minimo: {{empresaPromedioPrecioMin}}  </p>
        </div>
        <a href="https://www.youtube.com/watch?v=-STMrKn4Ork&t=857s">¿Cómo interpretar estos resultados? <mat-icon> help </mat-icon></a>





      </mat-card>
    </div>
  </div>

</mat-card>
