mat-card{
  position: absolute;

  top: 12%;
  left: 21%;
  right: 1%;
  padding-bottom: 7%;
}
.empresaGanadora{
  position: absolute;
  top: 10%;
  left: 40%;
  width: 45%;
}
.optimizarCuadro{
  margin-top: 5%;
  color: white;
  border-width: medium;
  border-style: solid;
  border-color: rgba(50, 61, 87, 0.959);
  padding: 5px;
  background-color: black;
}
mat-progress-spinner{


}


footer{
  position: absolute;
  bottom: 0;
  bottom: -1px;
}

button{
  margin-right: 5%;
}

mat-form-field{
  width: 100%;
}
.errores{
  color: red;
}
.recomendacion{
  color: rgb(2, 150, 150);
}
.optimizar{
  color: white;
  background-color: rgb(18, 27, 109);
  right: 4px;
}
mat-button-toggle{
  font-size: 1vw;
}

.ejecutar{
  color: white;
  background-color: rgb(34, 34, 37);
}

@media screen and (max-width: 769px){
  mat-button-toggle{
    font-size: 1.6vw;
  }
  #card-principal{
    height: 155vh;
  }
  #columnados{
    height: 45vh;
  }

}

@media screen and (max-width: 560px){
  mat-button-toggle{
    font-size: 2vw;
  }

}

@media screen and (max-width: 425px){
  mat-button-toggle{
    font-size: 3vw;
  }

}

@media screen and (max-width: 350px){

  #card-principal{
    height: 170vh;
  }

}
