.sidenav-container {
  position: fixed;
  height: 100%;

}

.sidenav {

  margin-top: 4%;
  width: 20%;

}

.nav-item {
  width: 90%;
  margin-top: 3%;
}

.nav-icon {
  margin-right: 10%;
}

.nav-link {
  width: 50%;
  margin-top: 3%;
  margin-left: 3%;

}

.nav-modoUser{

  margin-top: 10%;
  margin-left:5%;
  margin-right: 5%;
}

.nav-modoUser p{
  margin-top: 10%;
  margin-left: 30%;

}

mat-button-toggle-group{
width: 100%;

}
mat-button-toggle{
  width: 33%;
  font-size: 14px;
}


mat-icon{


}

li{
  font-size: 1.2vw;
}

.sidebar{
  position: fixed;
  margin-top: 10vh;
  width: 17%;
  height: 95%;
  background-color: rgb(34, 34, 37);
  color: aliceblue;
}
.sidebar h2 {
  text-align: center;
  margin: 0;
  padding: 10;
  background: black;

}
.sidebar li{
  border-bottom: 4px solid black;
  transition-property: border;
  transition-duration: 0.3s;
}
.sidebar li:hover{
  background: rgb(85, 85, 85);
  border-left: 5px solid white;
}
.sidebar a{
  text-decoration: none;
  color: white;
  display: block;
  padding: 15px;
}
.sidebar ul{
  list-style: none;
  padding: 0;
  margin: 0;
}



