<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

</head>
<body style="background-color:yellowgreen; height: 130vh;">

<div class="sidebar">
    <h2 style="font-size: 3vw; ">Menú</h2>
    <ul>
      <li><a href="/sistemas">
        <div class="row">
          <div class="col-2"><mat-icon class="nav-icon">attach_money</mat-icon></div>
          <div class="col">Sistemas de trading</div>
        </div>
      </a></li>
      <li><a href="/backtesting">
        <div class="row">
          <div class="col-2"><mat-icon class="nav-icon">timeline</mat-icon></div>
          <div class="col">Backtesting</div>
        </div>
      </a></li>
      <li><a href="/trading">
        <div class="row">
            <div class="col-2"><mat-icon class="nav-icon">text_rotation_angleup</mat-icon></div>
            <div class="col">Trading automático</div>
        </div>
      </a></li>
      <li><a href="/indicadores">
        <div class="row">
            <div class="col-2"><mat-icon class="nav-icon">trending_up</mat-icon></div>
            <div class="col">Indicadores</div>
        </div>
      </a></li>
      <li><a href="/introduccion">
        <div class="row">
            <div class="col-2"><mat-icon class="nav-icon">school</mat-icon></div>
            <div class="col">Introducción</div>
        </div>
      </a></li>
      <li><a href="/tutorial">
        <div class="row">
            <div class="col-2"><mat-icon class="nav-icon">ondemand_video</mat-icon></div>
            <div class="col">Tutorial</div>
        </div>
      </a></li>
      <li><a href="/guia">
        <div class="row">
            <div class="col-2"><mat-icon class="nav-icon">menu_book</mat-icon></div>
            <div class="col">Guía de uso</div>
        </div>
      </a></li>

    </ul>
</div>



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
